.header-container__content {
    background-color: #191C1F;
    padding: 0.750rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #4C6EF5;
}

.header-paragraph {
    color: #F8F9FA;
    font-weight: 600;
    font-family: "Inter";
    font-size: 20px;
    margin-top: 0.625rem;
    margin-left: 10rem;
}

.header-button {
    border: 1px solid #F8F9FA;
    background-color: #191C1F;
    color: #F8F9FA;
    padding: 0.8rem;
    margin-right: 10rem;
}

.main-first-box {
    background-color: #212529;
    color: #EDF2FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter";
    padding: 12rem;
    gap: 2.75rem;
}
    
.main-first-box__text {
    font-size: 52px;
    font-weight: 600;
}  

.main-first-box-colored__text {
    color: #4C6EF5;
}

.main-first-box__message {
    color: #CED4DA;
    text-align: start;
    width: 80%;
    line-height: 1.87rem;
}

.main-first-box__button {
    background-color: #4C6EF5;
    color: #F8F9FA;
    border: none;
    padding: 1.25rem;
    font-weight: 600;
}

.main-second-box {
    background-color: #191C1F;
    padding: 5rem;
    display: flex;
    justify-content: space-between;
}

.main-second-box__text {
    color: #EDF2FF;
    margin-top: 1.5rem;
    font-weight: 600;
    font-family: "Inter";
    font-size: 2rem;
}
    
.main-second-box__message {
    color: #CED4DA;
    font-family: "Inter";
    font-weight: 400;
    text-align: start;
    width: 35%;
    line-height: 1.87rem;
    
}

.adjust-box-style {
    padding: 3rem;
}
    

.main-third-box {
    background-color: #212529;
    width: 100%;
    height: 80%;
    font-family: "Inter";
}

.main-third-box__config {
    width: 40%;
    padding: 2rem;
}

.main-third-box__text {
    color: #EDF2FF;
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    
}

.main-third-box__message {
    color: #ADB5BD;
    line-height: 1.87rem;
    width: 100%;
}

.main-third-box__button {
    background-color: #4C6EF5;
    color: #F8F9FA;
    border: none;
    padding: 1.25rem;
    font-weight: 600;
    margin-top: 2rem;
}

.question-box__adjustment {
    position: relative;
    left: 52%;
    width: 40%;
    border-bottom: 5rem;
}
    
    
.question-box {
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 5rem;
    text-align: center;
    color: #EDF2FF;
}
    
.answer-question-box {
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.95rem;
    margin-left: 4rem;
    color: #ADB5BD;
    width: 80%;
}

.comentaries-section {
    background-color: #212529;
    font-family: Inter;
}

.right-side__box {
    background-color: #4C6EF5;
    font-family: Inter;
    width: 25%;
    height: 20rem;
}
   
    
.right-side-box__question {
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 5rem;
    text-align: center;
    padding-top: 2rem;
    color: #EDF2FF;
    
}

.right-side-box__answer {
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.95rem;
    margin-left: 2rem;
    color: #ADB5BD;
}

.comentaries-section-left-side {
    background-color: #212529;
    font-family: Inter;
} 


.comentaries-box {
    color: #EDF2FF;
    font-size: 2rem;
    font-weight: 600;
    line-height: 3.2rem;
}

.students {
    color: #ADB5BD;
    size: 1rem;
    line-height: 1.5rem;
}

.students-info {
    color: #CED4DA;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
    width: 22%;
}

.footer {
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    background-color: #191C1F;
    color: #EDF2FF;
    padding: 1rem;
}